<h1> About </h1>

<p> The UCA wishes to bring different composers together using the Powertab Editor, and help them write music together over the internet.
The results are proudly shared on the front page for all to download and hear. </p>

<p> UCA is free software. You can contribute to it on <%= link_to "github", "http://github.com/psyomn/uca" %> </p>
