<div class="panel-default">
  <div class="panel-heading"> <b> News </b> </div>
  <div class="panel-body">
    <%= render 'common/list_news' %>
  </div>
</div>

<div class="row">

  <div class="col-sm-6">
    <div class="panel-default">
      <div class="panel-heading"> <b> Newest Songs </b> </div>
      <div class="panel-body">
        <%= render partial: 'common/list_songs', locals: {songs: @songs} %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel-default">
      <div class="panel-heading"> <b> Newest Ratings </b> </div>
      <div class="panel-body">
        <%= render partial: 'common/list_ratings', locals: {ratings: @ratings} %>
      </div>
    </div>
  </div>

</div>
