<div class="panel-default">
  <div class="panel-heading"> <b> News </b> </div>
  <div class="panel-body">
    <ul>
    <% [1,2,3].each do |el| %>
      <li><a href="#">Link to news item #<%= el %></a></li>
    <% end %>
    </ul>
  </div>
</div>

<div class="row">

  <div class="col-sm-6">
    <div class="panel-default">
      <div class="panel-heading"> <b> Newest Songs </b> </div>
      <div class="panel-body">
        <li> Song ... </li>
        <li> Song ... </li>
        <li> Song ... </li>
        <li> Song ... </li>
        <li> Song ... </li>
        <li> Song ... </li>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel-default">
      <div class="panel-heading"> <b> Newest Ratings </b> </div>
      <div class="panel-body">
        <li> Rating ... </li>
        <li> Rating ... </li>
        <li> Rating ... </li>
        <li> Rating ... </li>
        <li> Rating ... </li>
      </div>
    </div>
  </div>

</div>
