<h1> <%= @song.name %> </h1>

<p> Band: <%= @song.band.name %> </p>

<div class="panel-default">
  <div class="panel-heading"> Ratings </div>
  <div class="panel-body">
    <%= render partial: 'common/list_ratings', locals: {ratings: @song.ratings} %>
  </div>
</div>
