<% if ratings.empty? %>
  <p> No ratings found. </p>
<% else %>
  <ul>
  <% ratings.each do |rating| %>
    <li>
      Song <%= rating.song.full_name %> rated <%= rating.score %> by <%= link_to rating.user.best_name_possible, user_path(rating.user) %>
    </li>
  <% end %>
  </ul>
<% end %>
